.popup__button {
  padding: 0;
  margin: 48px auto 37px auto;
  cursor: pointer;
  display: block;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  background: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    margin: 45px auto 25px auto;
  }
  
}