.popup__title {
  padding: 0;
  margin: 34px 63px 0 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 25px auto 0 auto;
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}