@import url(./vendor/normalize.css);

/* @import url(../styles/fonts.css); */
/* @import url(../vendor/styles/fonts.css); */
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/logo/logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__block/profile__block.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__job/profile__job.css);

@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__button-avatar/profile__button-avatar.css);

@import url(./blocks/content/content.css);
@import url(./blocks/content/__grid/content__grid.css);
@import url(./blocks/content/__image/content__image.css);
@import url(./blocks/content/__info/content__info.css);
@import url(./blocks/content/__like/content__like.css);
@import url(./blocks/content/__liked/content__liked.css);
@import url(./blocks/content/__like-counter/content__like-counter.css);
@import url(./blocks/content/__title/content__title.css);
@import url(./blocks/content/__trashcan/content__trashcan.css);
@import url(./blocks/content/__trashcan/_type/content__trashcan_type_hidden.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__set/popup__set.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_check/popup__input_check_invalid.css);
@import url(./blocks/popup/__input/_type/popup__input_type_job.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_type/popup__button_type_unactive.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__capture/popup__capture.css);
@import url(./blocks/popup/_picture/popup_picture.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/__button/_type/popup__button_type_confirm.css);
@import url(./blocks/popup/__button/_type/popup__button_type_avatar.css);

@import url(./blocks/popup-info/__image/popup-info__image.css);
@import url(./blocks/popup-info/__title/popup-info__title.css);

@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__title/login__title.css);

@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__title/register__title.css);